<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body ng-app="app" ng-controller="first">
    <h1>Marketplace Warrior</h1>
    <form>
	    <input type="text" ng-model="searchterm" required>
	    <button  type="submit" ng-click="search()">Search</button>
		</form>
		
		<div ng-if="result">
			<div >
				<p><input type="checkbox" ng-model="outBox" ng-click="outliers(outBox)"> Filter outlier's</p>
			</div>
			
	    <p>Sold: {{ result.sold }} /{{ result.total }} = {{ result.sold/result.total*100 }}%</p>

			<table>
			  <tr ng-repeat="x in result.tbl track by $index">
			    <td>{{ x.price }}</td>
			    <td>{{ x.title }}</td>
			    <td>{{ x.didsell == "EndedWithSales" ? "Yes" : "No" }}</td>
			  </tr>
			</table>
		</div>


  </body>
</html>
