<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="/javascripts/script.js"></script>
  </head>
  <body ng-app="app" ng-controller="first">
    <h1>Marketplace Warrior</h1>
    <form>
	    <input type="text" ng-model="searchterm" required>
	    <button  type="submit" ng-click="search()">Search</button>
		</form>
		
		<div ng-if="result">
			<div >
				<p><input type="checkbox" ng-model="outBox" ng-click="outliers(outBox)"> Filter outlier's</p>
			</div>
			<p><strong>Current 30 Day Period Average</strong></p>
			<p>Sold Per Day: {{ result.cur30.sold/30 }}<br> Listed Per Day: {{ result.cur30.listed/30 }}</p>
			<p><strong>Previous 60 Day Period Average</strong></p>
			<p>Sold Per Day: {{ result.prev60.sold/60 }}<br> Listed Per Day: {{ result.prev60.listed/60 }}</p>
	    <p>Sold: {{ result.sold }} /{{ result.total }} = {{ result.sold/result.total*100 }}%</p>

			<table class="listings">
				  <tr ng-class="x.didsell == 'EndedWithSales' ? 'green' : 'red'" ng-repeat="x in result.tbl track by $index"  sc-hover="options = true" sc-hover-end="options = false">
				  		<td ng-show="options" class="xout" ng-click="removeThis($index)"> X </td>
				  		<td ng-show="!options" class="xout">   </td>
					    <td>{{ x.price }}</td>
					    <td>{{ x.title }}</td>
					    <td>{{ x.didsell == "EndedWithSales" ? "Yes" : "No" }}</td>
				  </tr>
			</table>
		</div>


  </body>
</html>
